[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pyqt5 = "*"
pyqtchart = "*"
numpy = "*"
bokeh = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
